<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container-flui">

    <div class="row">
      <div class="col-md-12 d-flex justfy-content-center">
        <h4 class="text-whitte">Siga-nos nas redes sociais</h4>
      </div>
    </div>
  

    <div class="row">
      <div class="col-med-12 d-flex justfy-content-center">

        <ul class="social-network">
            <li>
                <a href="www.linkedin.com/in/gabriela-teixeira-mendes" target="_blank"
               class="iconLinkedIn">
               <i class="fa fa-linkedin-square" aria-hidden="true"></i>            
            </a>
            </li>

            <li>
                <a href="https://github.com/Gabriela17tx" target="_blank"
               class="icongithub">
               <i class="fa fa-github" aria-hidden="true"></i>            
            </a>
            </li>

            <li>
                <a href="https://www.facebook.com/gabriela.teixeira.3382" target="_blank"
               class="iconFacebook">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>            
            </a>
            </li>
        </ul>

      </div>
  </div>

<div class="footer-copyright bg-dark text-center py-3">
  <span class="text-light"> &copy; 2021 copyright: Gabriela Teixeira </span>
</div>


</div>